.exercise-air-wrapper {
    .banner-secs {
        position: relative;
        img {
            height: 683px;
            width: 100%;
        }
        &::before {
            background-color: #2827278e;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
        }
        .content-sec {
            position: absolute;
            width: 45%;
            color: #fff;
            top: 80px;
            padding-left: 115px;
            p:nth-child(1) {
                font-size: 16px;
                font-family: 'Montserrat-Medium';
                opacity: .5;
            }
            h1 {
                font-family: 'Montserrat-Bold';
                font-size: 35px;
                margin-bottom: 40px;
            }
            h2 {
                font-family: 'Lato-Bold';
                font-size: 30px;
                margin-bottom: 20px;
            }
            p {
                font-family: 'Lato-Bold';
                font-size: 15px;
                padding: 5px 20px 5px 0;
            }
        }
        .right-img {
            position: absolute;
            right: 0px;
            right: 250px;
            top: 220px;
            img {
                width: 250px;
                height: 250px;
            }
        }
    }
    .info-wraper {
        background-color: #eff8e5;
        margin-top: -6px;
        padding: 12px 100px;
        .info-sec {
            display: flex;
            align-items: center;
            padding: 10px;
            margin: 5px 15px;
            background: #def2cd;
            border-radius: 45px 0 0 0;
            justify-content: space-between;
            flex-wrap: wrap;
            p {
                margin: 0;
            }
            .info-left {
                display: flex;
                align-items: center;
                margin-left: 15px;
                p {
                    margin-left: 15px;
                }
            }
            p:nth-last-child(2) {
                position: relative;
            }
            p:nth-last-child(2)::before {
                content: '|';
                position: absolute;
                left: -7px;
                color: #55b700;
                font-weight: 600;
            }
        }
        .tb-info {
            display: flex;
            justify-content: right;
            align-items: center;
            margin-bottom: 5px;
            span {
                font-family: 'Lato-Bold';
                font-size: 16px;
                margin-right: 10px;
                width: 100px;
                display: block;
                text-transform: uppercase;
                text-align: right;
            }
            img {
                width: 50px;
            }
        }
        .activeimg {
            background-image: url(../../assets/images/personHealth.png);
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            background-size: 50px 50px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 50px;
            }
        }
        .app-btn {
            display: flex;
            flex-wrap: wrap;
            button {
                background-image: linear-gradient(#fbfbfb, #b9b9b7);
                border: 0;
                border-radius: 10px;
                padding: 2px 10px;
                margin-right: 10px;
                display: flex;
                align-items: center;
                outline: none;
                img {
                    width: 15px;
                    margin-right: 5px;
                }
            }
        }
    }
    .fusion-exe {
        h1 {
            font-size: 30px;
            padding: 20px 0 15px 100px;
            margin: 0;
            font-family: 'Montserrat-Medium';
        }
    }
    .fusion-gal {
        width: 100%;
        padding: 10px 50px;
        .fusion-exe-gl {
            position: relative;
            h4 {
                position: absolute;
                bottom: -8px;
                padding: 15px 0;
                background-color: rgba(27, 27, 27, 0.74);
                width: 100%;
                text-align: center;
                color: #fff;
                font-family: 'Montserrat-Bold';
                font-size: 20PX;
            }
        }
        .fu-active-gal {
            width: 0;
            height: 0;
            border-left: 100px solid transparent;
            border-right: 100px solid transparent;
            border-top: 16px solid #DFDFDF;
            position: absolute;
            bottom: -22px;
            margin: 0 auto;
            left: 0;
            right: 0;
        }
    }
    .fusion-con-gl {
        margin: 30px 0px 20px 60px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        .gal-con {
            width: 50%;
            z-index: 4;
            h1 {
                font-size: 19px;
                font-family: 'Montserrat-Medium';
                color: #595959
            }
            .gal-con-text {
                background-color: #F2F2F2;
                padding: 40px 5px 40px 40px;
                border-radius: 4px;
                opacity: .8;
                p {
                    font-family: 'Lato-Regular';
                    font-size: 14px;
                    line-height: 15px;
                }
                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    font-family: 'Lato-Regular';
                    line-height: 15px;
                    margin-bottom: 6px;
                    span {
                        font-family: 'Lato-Bold';
                        font-size: 14px;
                        line-height: 15px;
                    }
                    img {
                        width: 25px;
                        margin-right: 20px;
                    }
                }
            }
        }
        .gal-con-img {
            width: 50%;
            z-index: 4;
            .fu-dis {
                width: 65%;
                margin: 0 auto;
                margin-top: 50px;
                .fu-head {
                    background: #fff;
                    margin: 0;
                    text-align: center;
                    h2 {
                        background: #fff;
                        border-bottom: 1px solid #46a1fb;
                        display: inline-block;
                        padding: 5px 10px 5px 10px;
                        text-align: center;
                        margin: 0;
                        font-family: 'Montserrat-Medium';
                        font-size: 17px;
                    }
                }
                .fu-dis-con {
                    opacity: .8;
                    background: #fff;
                    .fu-dis-txt {
                        padding: 40px;
                        h4 {
                            font-family: 'Lato-Regular';
                            font-size: 20px;
                        }
                        p {
                            font-family: 'Lato-Regular';
                            font-size: 14px;
                        }
                    }
                    .fu-dis-time {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 40px;
                        font-size: 13px;
                        span {
                            font-family: 'Lato-Regular';
                            font-size: 14px;
                        }
                    }
                    .fu-dis-btn {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 40px 20px;
                        margin-bottom: 20px;
                        button {
                            border-radius: 43px;
                            padding: 2px 10px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            background: transparent;
                            border: 2px solid #898f95;
                            outline: none;
                            background-color: #fff;
                            font-family: 'Lato-Regular';
                            font-size: 14px;
                            span {
                                font-family: 'Lato-Regular';
                                font-size: 16px;
                            }
                        }
                        button:nth-child(2) {
                            margin: 0 10px;
                            background-color: #fff;
                        }
                        button:nth-child(3) {
                            background-color: #8C8C8C;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .back-img {
            position: absolute;
            right: 15px;
            top: 0px;
            img {
                width: 725px;
                height: 444px;
            }
        }
    }
    .slider-secs {
        padding: 0 20px;
        h1 {
            font-family: 'Montserrat-Medium';
            font-size: 30px;
            text-align: center;
            padding: 40px 0 10px;
        }
        .slider-item {
            padding: 10px 30px;
            text-align: center;
            h2 {
                font-family: 'ARIAL';
                font-size: 20px;
                font-weight: bold;
                margin: 10px 0;
            }
            p {}
            img {
                border-radius: 50%;
                height: 250px;
                width: 250px;
            }
        }
        .slick-prev:before {
            font-family: "Font Awesome 5 Free";
            content: "\f053";
            color: #000;
            font-size: 20px;
            font-weight: bold;
        }
        .slick-next:before {
            font-family: "Font Awesome 5 Free";
            content: "\f054";
            color: #000;
            font-size: 20px;
            font-weight: bold;
        }
    }
    .left-clender {
        font-family: 'Montserrat-Bold';
        font-size: 22px;
        color: #9E9E9E;
        margin-top: 140px;
        ul {
            border-right: 3px solid #efefef;
            position: relative;
        }
        li {
            padding: 10px 0;
            cursor: pointer;
        }
        .cal-active {
            border-right: 3px solid #678eeb;
            margin-right: -3px;
        }
    }
    .gal-clender {
        padding: 20px 0;
        h1 {
            font-family: 'Montserrat-Bold';
            font-size: 26px;
            color: #9E9E9E;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    .revie-card {
        width: 100%;
        display: inline-block;
        border: 1px solid red;
        padding: 15px;
    }
}

.tab-content-show {
    display: block;
}

.tab-content-hide {
    display: none;
}

@media (max-width:768px) {
    .exercise-air-wrapper .banner-secs .content-sec {
        width: 100%;
        padding: 15px;
    }
    .advance-Exercise.page-w .info-wraper {
        padding: 12px 20px;
    }
    .exercise-air-wrapper .info-wraper {
        padding: 12px 15px;
    }
    .exercise-air-wrapper .info-wraper .app-btn {
        justify-content: center;
        button {
            margin-bottom: 10px;
        }
    }
    .exercise-air-wrapper .fusion-exe h1 {
        padding: 20px 0 15px 20px;
    }
    .exercise-air-wrapper .fusion-con-gl {
        margin: 30px 0px 20px 30px;
    }
    .exercise-air-wrapper .fusion-con-gl .gal-con {
        width: 100%;
    }
    .exercise-air-wrapper .fusion-con-gl .gal-con-img {
        width: 100%;
    }
    .exercise-air-wrapper .fusion-con-gl .gal-con-img .fu-dis {
        width: 80%;
    }
    .exercise-air-wrapper .slider-secs .slider-item img {
        width: 135px;
        height: 135px;
    }
    .exercise-air-wrapper .fusion-con-gl .gal-con-img .fu-dis .fu-dis-con {
        .fu-dis-txt {
            padding: 15px;
        }
        .fu-dis-time {
            padding: 15px;
        }
        .fu-dis-btn {
            padding: 15px;
            flex-wrap: wrap;
        }
    }
    .exercise-air-wrapper .fusion-con-gl .gal-con h1 {
        text-align: center;
        padding-top: 10px;
    }
    .exercise-air-wrapper .fusion-con-gl .gal-con .gal-con-text {
        background-color: #F2F2F2;
        padding: 20px;
        border-radius: 4px;
        opacity: .8;
        margin: 0 auto;
        width: 80%;
    }
    .exercise-air-wrapper .fusion-gal .fu-active-gal {
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
    }
    .exercise-air-wrapper .fusion-con-gl .gal-con-img .fu-dis .fu-dis-con .fu-dis-btn button:nth-child(2) {
        margin: 0px;
        background-color: #fff;
    }
    .exercise-air-wrapper .fusion-con-gl .gal-con-img .fu-dis .fu-dis-con .fu-dis-btn button {
        margin: 10px 0;
    }
}