.advance-Exercise {
    .advance-Exercise-slider {
        overflow: hidden;
    }
    .slider-img {
        min-height: 600px;
        object-fit: cover;
    }
    .slider-conatiner {
        position: relative;
        .cente-text {
            position: absolute;
            top: 37%;
            left: 0;
            right: 0;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            h1 {
                font-family: 'Montserrat-Medium';
                font-size: 35px;
                color: #fff;
                text-transform: uppercase;
            }
            p {
                font-family: 'Montserrat-Medium';
                font-size: 25px;
                color: #fff;
                padding: 12px 0px;
                text-transform: uppercase;
            }
            button {
                background-color: transparent;
                border-radius: 4px;
                border: 4px solid #fff;
                font-family: 'Montserrat-Medium';
                font-size: 20px;
                padding: 5px 70px;
                color: #fff;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        .arrow-icon {
            background-image: url(../../assets/images/down-arrow-back.png);
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            background-size: 50px 50px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10%;
            margin-bottom: 10px;
            cursor: pointer;
            img {
                width: 25px;
                height: 14px;
                margin-top: 5px;
            }
        }
        .right-icon {
            position: absolute;
            top: 37%;
            bottom: 0;
            right: 3%;
            .tb-info {
                display: flex;
                justify-content: right;
                align-items: center;
                margin-bottom: 5px;
                span {
                    font-family: 'Lato-Bold';
                    font-size: 16px;
                    margin-right: 10px;
                    width: 100px;
                    display: block;
                    text-transform: uppercase;
                    text-align: right;
                }
                img {
                    width: 70px;
                }
                .health-co {
                    color: #51be58;
                }
                .pro-co {
                    color: #fc00fe;
                }
                .ins-co {
                    color: #fec604;
                }
                .joy-co {
                    color: #0491fe;
                }
            }
            .activeimg {
                background-image: url(../../assets/images/personHealth.png);
                background-repeat: no-repeat;
                width: 72px;
                height: 72px;
                background-size: 70px 72px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 70px;
                }
            }
        }
        &::before {
            background-color: #2827274d;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
        }
    }
}

.advance-Exercise {
    .info-wraper {
        background-color: #eff8e5;
        margin-top: -6px;
        padding: 12px 100px;
        .info-sec {
            display: flex;
            align-items: center;
            padding: 10px;
            margin: 5px 15px;
            background: #def2cd;
            border-radius: 45px 0 0 0;
            justify-content: space-between;
            flex-wrap: wrap;
            p {
                margin: 0;
            }
            .info-left {
                display: flex;
                align-items: center;
                margin-left: 15px;
                white-space: nowrap;
                p {
                    margin-left: 15px;
                }
            }
            p:nth-last-child(2) {
                position: relative;
            }
            p:nth-last-child(2)::before {
                content: '|';
                position: absolute;
                left: -7px;
                color: #55b700;
                font-weight: 600;
            }
        }
        .tb-info {
            display: flex;
            justify-content: right;
            align-items: center;
            margin-bottom: 5px;
            span {
                font-family: 'Lato-Bold';
                font-size: 16px;
                margin-right: 10px;
                width: 100px;
                display: block;
                text-transform: uppercase;
                text-align: right;
            }
            img {
                width: 50px;
            }
        }
        .activeimg {
            background-image: url(../../assets/images/personHealth.png);
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            background-size: 50px 50px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 50px;
            }
        }
        .app-btn {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            button {
                background-image: linear-gradient(#fbfbfb, #b9b9b7);
                border: 0;
                border-radius: 10px;
                padding: 5px 12px;
                margin-right: 10px;
                display: flex;
                align-items: center;
                outline: none;
                margin-bottom: 10px;
                img {
                    width: 20px;
                    margin-right: 5px;
                }
            }
        }
    }
}

.advance-Exercise {
    .botom-icon {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 25px 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        flex-wrap: wrap;
        .setion-name {
            display: flex;
            align-items: center;
            img {
                width: 15px;
                height: 15px;
                margin-right: 4px;
            }
            p {
                margin: 0;
            }
        }
        span {
            margin-right: 40px;
            margin-left: 40px;
            color: #cdcdcd;
        }
    }
}

.advance-Exercise {
    .exercise-secion-right {
        background-image: linear-gradient(to right, #b6b6b6, #fff);
        margin-top: -8px;
        .exe-inner-sp {
            padding: 15px;
        }
        .section-right {
            width: 80%;
            margin-left: 20%;
        }
        h1 {
            text-align: center;
            font-family: 'Montserrat-Bold';
            font-size: 35px;
            color: #8c8c8c;
            padding: 20px 8px;
            text-transform: uppercase;
        }
        h2 {
            text-align: center;
            font-family: 'Lato-Regular';
            font-size: 35px;
            color: #8c8c8c;
            padding: 20px 8px;
            opacity: .2;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        .exe-inner {
            background-repeat: no-repeat;
            border-radius: 20px 0 0 20px;
            position: relative;
            background-position: center;
            background-size: cover;
        }
        .exe-inner::before {
            background-color: #282727ad;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
            border-radius: 20px 0 0 20px;
        }
        .line-inner {
            display: flex;
            align-items: center;
        }
        .v-line {
            width: 3px;
            background-color: #fff;
            border-radius: 5px;
            min-height: 190px;
            margin-right: 15px;
            margin-top: 20px;
            margin-left: 20px;
        }
        .v-text {
            font-family: 'Lato-Regular';
            font-size: 18px;
            color: #fff;
            li {
                padding: 12px 0;
                text-transform: uppercase;
            }
        }
        .content-inner {
            h3 {
                font-family: 'Lato-Regular';
                font-size: 18px;
                color: #0ddb1a
            }
            p {
                font-family: 'Lato-Regular';
                font-size: 14px;
                color: #fff
            }
        }
        .btn-section {
            display: flex;
            align-items: center;
            margin: 10px 0;
            button {
                border: none;
                border-radius: 15px;
                padding: 5px 20px;
                outline: none;
            }
            img {
                width: 30px;
                margin-left: 10px;
            }
        }
    }
}

.advance-Exercise {
    .exercise-secion-left {
        background-image: linear-gradient(to right, #fff, #daffb8);
        margin-top: -8px;
        .exe-inner-sp {
            padding: 15px;
        }
        .section-right {
            width: 80%;
        }
        h1 {
            text-align: center;
            font-family: 'Montserrat-Bold';
            font-size: 35px;
            color: #8c8c8c;
            padding: 20px 0;
            text-transform: uppercase;
        }
        h2 {
            text-align: center;
            font-family: 'Lato-Regular';
            font-size: 35px;
            color: #8c8c8c;
            opacity: .2;
            padding: 20px 0;
            text-transform: uppercase;
        }
        .exe-inner {
            background-repeat: no-repeat;
            border-radius: 0px 20px 20px 0px;
            position: relative;
            background-position: center;
            background-size: cover;
        }
        .exe-inner::before {
            background-color: #282727ad;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
            border-radius: 0px 20px 20px 0px;
        }
        .line-inner {
            display: flex;
            align-items: end;
            justify-content: end;
        }
        .v-line {
            width: 3px;
            background-color: #fff;
            border-radius: 5px;
            min-height: 190px;
            margin-right: 15px;
            margin-top: 20px;
            margin-left: 20px;
        }
        .v-text {
            font-family: 'Lato-Regular';
            font-size: 18px;
            color: #fff;
            text-align: right;
            li {
                padding: 12px 0;
                text-transform: uppercase;
            }
        }
        .content-inner {
            h3 {
                font-family: 'Lato-Regular';
                font-size: 18px;
                color: #0ddb1a
            }
            p {
                font-family: 'Lato-Regular';
                font-size: 14px;
                color: #fff
            }
        }
        .btn-section {
            display: flex;
            align-items: center;
            margin: 10px 0;
            button {
                border: none;
                border-radius: 15px;
                padding: 5px 20px;
                outline: none;
            }
            img {
                width: 30px;
                margin-left: 10px;
            }
        }
    }
}

.exe-bg1 {
    background-image: url(../../assets/images/advance-exercises/fu-exercise.png);
}

.exe-bg2 {
    background-image: url(../../assets/images/advance-exercises/home-workout.png);
}

.exe-bg3 {
    background-image: url(../../assets/images/advance-exercises/yoga.png);
}

.exe-bg4 {
    background-image: url(../../assets/images/advance-exercises/dance.png);
}

.exe-bg5 {
    background-image: url(../../assets/images/advance-exercises/mind-health.png);
}

.shifter-plan {
    margin: 10px 0 0;
    position: fixed;
    bottom: 0;
    transition: 1s;
    z-index: 9;
    padding: 20px 60px 0 60px;
    width: 100%;
    background: #fff;
    h3 {
        color: #8dd54f;
        font-size: 18px;
    }
    p {
        text-align: center;
        margin: 10px 0;
    }
    .ex-plans {
        select {
            border: 2px solid #8dd54f;
        }
        input[type=text] {
            border: 2px solid #8dd54f;
        }
        .submit-btn {
            width: 100%;
            display: flex;
            justify-content: center;
            button {
                color: #fff;
                background: #8dd54f;
                padding: 5px 80px;
                margin: 20px auto 10px;
            }
        }
    }
}

.showForm {
    bottom: 0px;
    transition: 1s;
}

.hideForm {
    bottom: -400px;
    transition: 1s;
}

.advance-Exercise-slider {
    .slick-dots {
        position: absolute;
        bottom: 74px;
        display: grid !important;
        width: 100%;
        right: 36px;
        padding: 10;
        justify-content: end;
        margin: 0;
        list-style: none;
        text-align: center;
        transition: bottom 300ms;
        .slick-active {
            background-image: url(../../assets/images/personHealth.png);
            background-position: top;
            background-position: bottom;
            background-position: left;
            background-position: right;
            background-position: center;
            background-size: 71px 71px;
        }
    }
    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 4px;
        padding: 0;
        cursor: pointer;
    }
    .slick-dots li.slick-active button:before {
        font-size: 15px;
        color: blue;
    }
    .slick-dots[data-current-slide="3"] {
        bottom: -20px;
    }
    .hide-text {
        display: none;
    }
    .slick-active {
        .tb-info {
            display: flex;
            justify-content: right;
            align-items: center;
            margin-bottom: 5px;
            span {
                font-family: 'Lato-Bold';
                font-size: 16px;
                margin-right: 10px;
                width: 100px;
                display: block;
                text-transform: uppercase;
                text-align: right;
                .hide-text {
                    display: block;
                }
            }
            img {
                width: 70px;
            }
            .dot-text1 {
                color: #51be58;
            }
            .dot-text2 {
                color: #fc00fe;
            }
            .dot-text3 {
                color: #fec604;
            }
            .dot-text4 {
                color: #0491fe;
            }
        }
    }
}

@media (max-width:992px) {
    .advance-Exercise.page-w .slider-conatiner .cente-text {
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (min-width:768px) and (max-width:992px) {
    .advance-Exercise.page-w .info-wraper {
        padding: 12px 50px;
    }
}

@media (max-width:768px) {
    .advance-Exercise.page-w .right-icon {
        display: none;
    }
}

@media (max-width:767px) {
    .advance-Exercise.page-w .slider-conatiner .cente-text h1 {
        font-size: 30px;
    }
    .advance-Exercise.page-w .slider-conatiner .cente-text button {
        padding: 5px 20px;
    }
    .advance-Exercise.page-w .slider-conatiner .cente-text p {
        font-size: 22px;
    }
    .advance-Exercise.page-w .info-wraper {
        padding: 12px 20px;
    }
    .advance-Exercise.page-w .exercise-secion-right .section-right {
        width: 100%;
        margin-left: 0%;
    }
    .advance-Exercise.page-w .exercise-secion-left .section-right {
        width: 100%;
    }
    .advance-Exercise.page-w .exercise-secion-right h2,
    .advance-Exercise.page-w .exercise-secion-left h2,
    .advance-Exercise.page-w .exercise-secion-right h1,
    .advance-Exercise.page-w .exercise-secion-left h1 {
        font-size: 30px;
    }
    .exercise-secion-right .person-health-img,
    .exercise-secion-left .person-health-img {
        width: 100px;
        margin: 0 auto;
    }
}