    .banner-secss {
        position: relative;
        img {
            height: 200px;
            width: 100%;
        }
        &::before {
            background-color: #2827278e;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
        }
        .content-sec {
            position: absolute;
            width: 45%;
            color: #fff;
            top: 80px;
            padding-left: 115px;
            p:nth-child(1) {
                font-size: 16px;
                font-family: 'Montserrat-Medium';
                opacity: .5;
            }
            h1 {
                font-family: 'Montserrat-Bold';
                font-size: 28px;
                margin-bottom: 40px;
            }
        }
        .right-img {
            position: absolute;
            right: 0px;
            right: 65px;
            top: 50px;
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
    
    .info-wraper {
        background-color: #eff8e5;
        margin-top: -6px;
        padding: 12px 100px;
        .info-sec {
            display: flex;
            align-items: center;
            padding: 10px;
            margin: 5px 15px;
            background: #def2cd;
            border-radius: 45px 0 0 0;
            justify-content: space-between;
            p {
                margin: 0;
            }
            .info-left {
                display: flex;
                align-items: center;
                margin-left: 15px;
                p {
                    margin-left: 15px;
                }
            }
            p:nth-last-child(2) {
                position: relative;
            }
            p:nth-last-child(2)::before {
                content: '|';
                position: absolute;
                left: -7px;
                color: #55b700;
                font-weight: 600;
            }
        }
        .tb-info {
            display: flex;
            justify-content: right;
            align-items: center;
            margin-bottom: 5px;
            span {
                font-family: 'Lato-Bold';
                font-size: 16px;
                margin-right: 10px;
                width: 100px;
                display: block;
                text-transform: uppercase;
                text-align: right;
            }
            img {
                width: 50px;
            }
        }
        .activeimg {
            background-image: url(../../assets/images/personHealth.png);
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            background-size: 50px 50px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 50px;
            }
        }
        .app-btn {
            margin-top: 10px;
            display: flex;
            button {
                background-image: linear-gradient(#fbfbfb, #b9b9b7);
                border: 0;
                border-radius: 10px;
                padding: 2px 10px;
                margin-right: 10px;
                display: flex;
                align-items: center;
                outline: none;
                img {
                    width: 15px;
                    margin-right: 5px;
                }
            }
        }
    }
    
    .vedio-sec {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-top: 60px;
        .vedio-con {
            width: 60%;
            .vedios {
                position: relative;
                img:nth-child(1) {
                    height: 500px;
                    width: 100%;
                }
                img:nth-child(2) {
                    position: absolute;
                    top: 40%;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }
            .vedios-pagi {
                display: flex;
                justify-content: center;
                padding: 15px 5px;
                align-items: center;
                p {
                    margin: 0;
                    font-family: 'Lato-Regular';
                    font-size: 18px;
                    text-transform: uppercase;
                }
                span {
                    display: flex;
                    width: 25px;
                    height: 25px;
                    border: 1px solid #8C8C8C;
                    border-radius: 50%;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    margin: 0 4px;
                }
            }
        }
        .profile-info {
            width: 39%;
            .info-con {
                display: flex;
                background: #F2F2F2;
                padding: 30px 30px 10px;
                .profile-img {
                    padding: 0 15px 0 0;
                    img {
                        border-radius: 50%;
                        max-width: 100px;
                        height: 100px;
                    }
                    h3 {
                        font-size: 14px;
                        padding: 10px 0;
                        font-family: 'Montserrat-Medium';
                    }
                }
                .profile-text {
                    color: #595959;
                    label {
                        font-size: 16px;
                        font-family: 'Lato-Bold';
                    }
                    span {
                        font-size: 16px;
                        margin-left: 10px;
                        font-family: 'Lato-Regular';
                    }
                    p {
                        font-size: 16px;
                        font-family: 'Lato-Light';
                    }
                }
            }
            .profile-wrap {
                padding: 0 30px;
                font-size: 16px;
                .profile-health {
                    text-align: center;
                    h2 {
                        font-family: 'Lato-Light';
                        font-size: 16px;
                        border-bottom: 1px solid #DFDFDF;
                        display: inline-block;
                        padding: 10px 0px 5px 0px;
                    }
                }
                .health {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    p {
                        margin-bottom: 5px;
                        font-family: 'Lato-Light';
                    }
                }
                .text-cmp {
                    text-align: right;
                    width: 100%;
                    color: #8C8C8C;
                }
            }
            .shealth {
                display: flex;
                padding: 0px 15px;
                flex-wrap: wrap;
                font-family: 'Lato-Light';
                span {
                    margin-left: 50px;
                }
            }
            .work-health {
                display: flex;
                padding: 0px 15px;
                flex-wrap: wrap;
                font-family: 'Lato-Light';
                p {
                    margin-right: 10px;
                }
                button {
                    border: 1px solid #595959;
                    background: no-repeat;
                    padding: 0px 13px;
                    border-radius: 5px;
                    margin: 0 2px;
                    outline: none;
                }
                .hactive {
                    border: 1px solid #9ad962;
                }
            }
            .max-health {
                display: flex;
                padding: 0px 15px;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                font-family: 'Lato-Light';
                p {
                    margin: 0;
                }
                img {
                    margin: 0 5px;
                }
                a {
                    font-size: 15px;
                }
            }
        }
        .cluster {
            position: absolute;
            right: -58px;
            margin-top: 15px;
            li {
                padding: 20px 0;
                img {
                    width: 70px;
                }
            }
        }
    }