.footer_banner {
    background-color: #848484;
    text-align: center;
    padding: 10px;
    color: white;

    .title {
        font-family: 'Coco-bold';
        font-size: 32px;
        margin: 5px 0;
    }

    .coloredText {
        display: inline;
        color: #B6B4FF;
        border: 1px solid #B6B4FF;
        padding: 2px 4px;
        border-radius: 4px;
        font-size: 27px;
        font-family: 'Montserrat-light';
    }

    img {
        margin: auto;
    }

    .desc {
        font-size: 18px;
        font-family: 'Montserrat-medium';
        margin: 10px 0 5px 0;
    }

    @media only screen and (max-width: 600px) {
        .title {
            font-size: 28px;
        }

        .coloredText {
            font-size: 23px;
        }
    }
}