.holistic_system {
    .section1 {
        background-image: url('../../assets/images/holistic-system/topBg.png');
        background-position: center;
        background-repeat: no-repeat;
        color: white;

        &_banner {
            max-width: 1700px;
            padding: 120px 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: auto;
            padding-top: 250px;
    
            &_head {
                font-size: 55px;
                font-family: 'Lato';
                max-width: 60%;
                text-transform: uppercase;
                letter-spacing: 2px;

                &_border {
                    width: 90px;
                    border-top: 4px solid white;
                    margin-bottom: 25px;
                }
            }

            &_side {
                margin-bottom: 30px;
                position: relative;
                font-style: italic;
                font-size: 17px;
                text-align: center;
                text-transform: capitalize;

                img {
                    width: 240px;
                    height: 120px;
                    margin-bottom: 10px;
                }
            }

            .side1 {
                position: relative;
                left: -100px;
            }

            .side3 {
                position: relative;
                left: -40px;
            }
        }

        @media only screen and (max-width: 1000px) {
            background-size: unset;

            &_banner {
                padding: 30px;
                justify-content: center;
                padding-top: 120px;
                
                &_head {
                    font-size: 40px;
                    max-width: unset;
                    margin-bottom: 30px;
                }

                .side1 {
                    left: unset;
                }
    
                .side3 {
                    left: unset;
                }
            }
        }

        @media only screen and (min-width: 1920px) {
            background-size: cover;
        }
    }

    .section2 {
        font-size: 40px;
        padding: 50px 80px;
        max-width: 1700px;
        margin: auto;
        font-family: 'Lato-bold';
        position: relative;

        &_desc {
            font-size: 18px;
            font-family: 'Lato';
            margin-top: 20px;
        }   

        &_btn {
            padding: 10px 15px;
            border: 1px solid black;
            border-radius: 10px;
            display: inline;
            font-family: 'Lato';
            position: absolute;
            right: 350px;
            bottom: 25px;
            font-size: 20px;
            width: 150px;
        }

        @media only screen and (max-width: 1700px) {
            padding: 50px 80px;
        }

        @media only screen and (max-width: 800px) {
            padding: 30px;

            &_btn {
                left: 30px;
                bottom: 25px;
            }
        }
    }

    .commonSection {

        &_content {
            font-size: 17px;
            padding: 60px 80px;
            max-width: 1700px;
            margin: auto;
            font-family: 'Lato';
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            row-gap: 30px;
            color: #7D7D7D;

            &_image {
                height: 430px;
                width: 530px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 60px;
                text-align: center;
                font-family: 'Lato-bold';
                font-size: 25px;
                background-position: center;
                background-size: cover;
                z-index: 1;
                position: relative;
                
                &_desc {
                    font-family: 'Lato';
                    font-size: 17px;
                }

                &_more {
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                    font-family: 'Lato';
                    font-size: 15px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;

                    img {
                        height: 20px;
                        width: 20px;
                    }
                }
            }

            &_text {
                width: 622px;
                min-height: 480px;
                background-color: #F2F2F2;
                padding: 30px;
                position: relative;
                left: -60px;
                padding-left: 90px;
            }

            &_main {
                width: 380px;
                font-size: 14px;
                display: flex;
                // align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                padding: 0 20px;
                position: relative;

                &_title {
                    font-family: 'Lato-bold';
                    font-size: 35px;
                    border-left: 8px solid #7D7D7D;
                    padding-left: 20px;
                    text-transform: uppercase;
                }

                img {
                    max-height: 380px;
                    width: 320px;
                    margin: 25px 0;
                }
            }

            @media only screen and (max-width: 1600px) {
                font-size: 16px;
                padding: 50px 30px;
                justify-content: center;

                &_image {
                    padding: 80px 30px;
                    font-size: 20px;
                }

                &_text {
                    min-height: unset;
                    left: 0;
                    padding-left: 30px;
                }

                &_main {
                    align-items: initial;
                }
                
    
            }

            @media only screen and (max-width: 1700px) {
                padding: 50px 75px;
            }

            @media only screen and (max-width: 800px) {
                &_image {
                    height: unset;
                    width: unset;
                }
            }
        }
    }

    .section3 {
        &_content {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 30px;
            flex-wrap: wrap;
            max-width: 1700px;
            margin: auto;
            padding: 0 90px;
            position: relative;

            &_container {
                max-width: 750px;
                position: relative;
                top: -80px;

                img {
                    height: auto;
                    width: 100%;
                }

                p {
                    font-size: 16px;
                    font-family: 'Lato';
                    color: #8C8C8C;
                    margin:0 40px;
                }

                @media only screen and (max-width: 1400px) {
                    top: unset;
                    padding-top: 50px;

                    p{
                        margin-bottom: 40px;
                        margin-left: unset;
                    }
                }
            }

            &_dropDowns {
                &_item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 700px;
                    color: #8C8C8C;
                    font-size: 24px;
                    font-family: 'Lato-bold';
                    background-color: white;
                    padding: 25px 50px;
                    border-bottom: 1px solid #707070;

                    &:last-child {
                        border-bottom: unset;
                    }


                    @media only screen and (max-width: 700px) {
                        width: 340px;
                        padding: 20px;
                    }
                }

                @media only screen and (max-width: 1400px) {
                    margin-bottom: 60px;
                }
            }

            @media only screen and (max-width: 800px) {
                padding: 30px;
            }
        }
    }

    .boldText {
        font-size: 32px;
        text-align: center;
        font-family: 'Lato-bold';
        margin: auto;
        max-width: 1700px;
        padding: 50px 120px;
        color: #8C8C8C;

        @media only screen and (max-width: 800px) {
            padding: 30px;
        }
    }    
}
