footer {
    padding: 30px 0;
    background-color: #f7f7f7;
}

.footer-inf li {
    font-size: 13px;
    margin-bottom: 3px;
}

.footer-menu li a {
    font-size: 14px;
    color: #797979;
}

.footer-icon i {
    padding: 10px;
}

.copyr p {
    text-align: right;
    font-size: 12px;
}