.content {
    background-position: center;
    background-size: cover;
    position: relative;

    .highlight {
        color: #8CBF4B;
        border: 1px solid #8CBF4B;
        border-radius: 3px;
    }

    &_container {
        font-family: 'Lato-light';
        margin: auto;
        max-width: 1700px;
        font-size: 17px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 0 60px 135px;
        color: white;

        &_link {
            text-decoration: underline;
        }

        p {
            max-width: 700px;
            text-align: right;

            .head {
                font-family: 'Lato-bold';
                font-size: 24px;
                opacity: 65%;
                margin-bottom: 20px;

                &_title {
                    font-size: 60px;
                    margin-top: 30px;
                }
            }
        }

        &_floatingImg {
            position: relative;
            bottom: -100px;
            left: -40px;

            img {
                height: auto;
                width: 450px;
            }
        }
    }

    @media only screen and (max-width: 1700px) {
        padding-top: 40px;

        &_container {
            padding: 0 135px 60px 135px;

            &_floatingImg {
                position: relative;
                bottom: unset;
                left: unset;
                order: 2;

                img {
                    height: auto;
                    width: 360px;
                }
            }

            &_link {
                order: 3;
            }

            p {
                text-align: unset;
    
                .head {
                    font-size: 20px;
    
                    &_title {
                        font-size: 40px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1500px) {
        &_container{
            justify-content: space-between !important;
            align-items: center;
            justify-content: center;
        }
    }

    @media only screen and (max-width: 1300px) {
        &_container{
            justify-content: space-evenly !important;
        }
    }



    @media only screen and (max-width: 800px) {

        &_container {
            padding: 30px;
            flex-direction: column;
            p {
                max-width: unset;
    
                .head {
                    font-size: 18px;
    
                    &_title {
                        font-size: 35px;
                    }
                }
            }
        }
    }
}